<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
                   version="2.5">
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>blog</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <servlet>
        <servlet-name>GetRandomStory</servlet-name>
        <servlet-class>com.GetRandomStory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRandomStory</servlet-name>
        <url-pattern>/getRandomStory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAnswer</servlet-name>
        <servlet-class>com.ShowAnswer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAnswer</servlet-name>
        <url-pattern>/showAnswer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddStory</servlet-name>
        <servlet-class>com.AddStory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStory</servlet-name>
        <url-pattern>/addStory</url-pattern>
    </servlet-mapping>
</web-app>